doctype html
html
	head
		meta(charset='utf-8')
		link(href='main.css' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css')
		title RiceBeans
	body
		header
			h1 Asquith AWESOME Movie reviews
		main
			aside(class = "left")
				time 04:20:00
				time 18:37:00
				time 06:09:06
			aside(class = "right")
			aside(class="three")
				figure(class="icon1")
					figcaption 11/13/2015 
				figure(class='icon2')
					figcaption(class="odd") 01/14/2006 
				figure(class='icon3')
					figcaption 07/10/1989 
			article  
				content(class = 'recipe1')
					h1 Kindergarten Cop
					p(class= "parag")
						|So I'm watching KINDERGARTEN COP in a bit of a stupor because the remote control is too
						|far for me to reach when I suddenly realize something amazing: This movie is fantastic. In the 
						|calculus of Hollywood dreck, KINDERGARTEN COP doesn't add up. Take 1 muscle-bound 
						|action hero, a dozen too-cute kids and a plot so contrived it makes an episode of any television 
						|sit-com look downright plausible and you should have a mess fit only for release straight to video 
						|in Third World nations--do not pass "Go" (or your local metroplex) or collect $200. In fact, I 
						|would love to meet both the person who pitched this idea and the studio head who gave it the green light: 
						|Pitchman: "Imagine MARY POPPINS without the namby-pamby animation and music and 
						|twice the butt-kicking! Oh, and instead of Dick Van Dyke faking a British accent we'll have 
						|Arnold Schwarzenegger faking intelligible dialog!" Studio Exec: "I love it! Here's umpteen million 
						|dollars to get it made!" And the freakin' movie works! It really does. The script is filled with some 
						|great lines (My favorite, of course: "It's not a tumor!"), sweet characters and some low-key acting
						|from the principles that keeps the story from becoming maudlin. This is one of maybe three movies
						|I can think of that I would be comfortable watching with my parents, minor relatives or 
						|beer-drinking buddies. (Coincidentally, another one of the three is GHOSTBUSTERS, also an
						|Ivan Reitman flick.) It has bloodless action, quotable lines and an ending that is satisfying. It just 
						|shouldn't exist. Maybe the fact that it does exist proves the William Goldman line about Hollywood: 
						|"Nobody knows nothing." Take some advice from your Uncle Guy: If you're stuck with the kids
						|or a date you don't know and you need to sit at home and watch a movie, put in KINDERGARTEN 
						|COP. You won't be disappointed, and you just might like it. And this advice comes from a big curmudgeon.
				content(class = 'recipe2')
					h1 Blood Sport
					p(class= "parag")
					|If you look at the rating for this film it is only 5.8 percent at present that is a serious understatement of this 
					|films genius. This film deserves a much more higher rating. Okay its not an Oscar winner for acting, but who
					|cares! its not about acting its about true martial arts and fighting on the big screen and Bloodsport brings this
					|to you superbly. One of my favourite movies it also provides the Rocky pump, as in like Rocky it has the
					|emotion both in action and through the films music and the fighting makes you want to get up and starting
					|punching and kicking anything! and you don't get that sort of feeling with many films. Rocky had it and
					|Bloodsport has it, and if a fighting film makes you get up and fight your living room wall then its a winner!
					|Van Damme is excellent, his fighting manoeuvres are breathtaking, the range of different styles of fighters
					|is great and well know martial artist Bolo Yeung's destruction of all opponents is wonderfully filmed, and as
					|Van Dammes main contender we have a great adventure. All the fighters give great performances and the
					|fighting scenes are superb. Great performance from big Donald Gibb as the hilarious Ray Jackson. His
					|running punch on his first opponent is worth watching for that alone! Donald Gibb is excellent and brings
					|humour to the role as well as some excellent and sometimes hilarious no nonsense fighting! The story too
					|is superb, the kumite bringing the worlds greatest fighters together and by invitation only and the location
					|also brilliant. Hiden in the depths of Hong Kong badlands. A winner in all departments. I remember
					|watching this with friends and going out in the garden for some Bloodsport kicking and punching well
					|not each other, thin air! but it makes you feel alive. Not many films do that. 10/10 for me. Fantastic film!    
				content(class = 'recipe3')
					h1 The Karate Kid 
					p(class= "parag")
					|A lot of posts focus on the 'coming of age' aspect of this movie, but the very overlooked part is the role it played in
					|helping to alleviate many of the stereotypes a very Asian phobic America was after WWII, Korea and Vietnam.
					|They make a point of showing Miyagi in a US Army Uniform--and a War Hero-- and makes references to detention 
					|camps Miyagi's family was sent to (a horribly dark period in American history)...where Miyagi's wife was being sent 
					|(pregnant) and where she and his unborn child (son) ultimately die during childbirth. There are also a few scenes in which 
					|ethnic slurs are used by rednecks toward Miyagi. Taking this into light, and taking the fact that Daniel has no father that 
					|we know of in this movie, the name Daniel-san (sounds like Daniel-SON) helps demonstrate a father son bond that
					|is overlooked. Much of the conversation between Daniel and Miyagi is about Miyagi's great father in Okinawa,
					|because Miyagi has acquired all this knowledge and wants to share it. Daniel substitutes for the son Miyagi never had and 
					|Miyagi substitutes for the father Daniel doesn't have.

	footer
		h4 These Photos and Reviews Belong to Whoever Created Them
		h4 TIY 4 LIFE
		h4 A Cheeks Production, All Rights Reserved
