html {
  height: 100%;
}

body {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  background-attachment: fixed;
}

figcaption{
  margin: 50px 0 0 -120px;
}

.odd {
  margin: 40px 0 0 -115px;
}

body::after {
  content: "";
  background-image: url(http://i.imgur.com/UUJt5Hb.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: -1;

}

#index {
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  font-family: Orbitron;
  color: white;
  font-size: 28px;
  text-shadow: 12px 12px red;
  justify-content: center;
  border: 5px solid black;
  width: auto;
  padding: 50px;
  background-size: contain;
  background-image: url("https://movietalkexpress.files.wordpress.com/2014/07/80s-action-heroes-preview.jpg");
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  width: 32.5%;
  max-width: 32.5%;
  margin: 110px 355px 0 0;
  text-align: right;
}

time {
  font-size: 25px;
  font-family: Nova Square;
  text-shadow: 4px 4px #E06666;
}

.right {
  display: flex;
  flex-direction: column;
  margin-right: -52px;
  margin-left: -245px;
  margin-bottom: 75px;
  padding-left: 0;
  padding-bottom: 25px;}

.three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 6px;
  margin-top: 105px;
  margin-bottom: 80px;
  background-color: #E06666;
  min-width: 6px;
}

.firstTime {
  margin-top: 17px;
}
.middleTime {
  margin-top: 70px;
}

.bottomTime {
  margin-bottom: 480px;
}

.icon1 {
  background-image: url(http://esq.h-cdn.co/assets/cm/15/06/54d4569a41e64_-_bloods650.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  margin: 0 0 0 -24px;
  border: 3px solid white;
  border-radius: 50%;
}

.icon2 {
  background-image: url(http://esq.h-cdn.co/assets/cm/15/06/54d4569a41e64_-_bloods650.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  margin: 80px 0 0 -24px;
  border: 3px solid white;
  border-radius: 50%;
}

.icon3 {
  background-image: url(http://esq.h-cdn.co/assets/cm/15/06/54d4569a41e64_-_bloods650.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  margin: -0 0 390px -24px;
  border: 3px solid white;
  border-radius: 50%;
}

article {
  width: 60%;
  padding-left: 0;
  padding: 75px;
  margin-left: -30px;
  margin-top: 25px;
  min-width: 60%;
}

.recipe1 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px;
  height: 100%;
  background-color: #E06666;
  color: white;
  font-family: asap;
  font-size: 20px;
}

.recipe1 h1 {
  text-align: center;
  padding: 0;
}

.recipe2 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: -30px;
  padding-top: 10px;
}

.recipe3 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: -10px;
}

.recipe2 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px;
  padding-top: 10px;
  height: 100%;
  background-color: #F0B2B2;
  margin-top: 50px;
  color: white;
  font-family: asap;
  font-size: 20px;
}

.recipe3 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  background-color: #E06666;
  color: white;
  font-family: asap;
  font-size: 20px;
  margin-top: 70px;
  padding: 25px 50px 50px 50px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #EDEDF5;
  margin-top: 48px;
  height: 100px;
  color: black;
  font-family: Orbitron;
}
h4 {
  color: black;
}

@media all and (max-width: 600px) {
  time {
    font-size: smaller;
  }

  .left {
    display: none;
    width: 10%;
    text-align: right;
    margin-right: 110px;
    padding: 0;
  }
}
